@page
@{
    ViewData["Title"] = "Favirite Mistake - Trevor Pietsch";
}
<h1>@ViewData["Title"]</h1>


<iframe width="300" height="300" src="https://www.youtube.com/embed/5_kqR5RtMhc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>This guy sings about his mistake</p>