@page
@{
    ViewData["Title"] = "Red Roses - Phil West";
}
<h1>@ViewData["Title"]</h1>



<iframe width="300" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/120366588&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/phil_west" title="Phil West ♪" target="_blank" style="color: #cccccc; text-decoration: none;">Phil West ♪</a> · <a href="https://soundcloud.com/phil_west/red-roses" title="Red Roses" target="_blank" style="color: #cccccc; text-decoration: none;">Red Roses</a></div>

<p>Something about smelly roses</p>