@page
@{
    ViewData["Title"] = "The Ragnarockers";
}




<div class="container-lg">
    <div class="card mb-3 bg-dark">
        <h3 class="card-header text-info">@ViewData["Title"]</h3>
        <img class="card-img" src="~/assets/images/ragnaMillersPhoto.png" />

    </div>


    <div class="card bg-dark">
        <div class="card-body">
            <h4 class="card-title text-info">Gator Skyne Purse</h4>
            <h6 class="card-subtitle mb-2 text-muted">The Ragnarockers</h6>
            <audio controls>
                <source src="~/assets/audio/GatorSkynePurse.wav" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="card-footer text-muted">
            By the crystal light of day
        </div>
    </div>


    <div class="card bg-dark">
        <div class="card-body">
            <h4 class="card-title text-info">Red Roses</h4>
            <h6 class="card-subtitle mb-2 text-muted">The Ragnarockers</h6>
            <audio controls>
                <source src="~/assets/audio/RedRoses.wav" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="card-footer text-muted">
            last spring
        </div>
    </div>


    <div class="card bg-dark">
        <div class="card-body">
            <h4 class="card-title text-info">Calliope Smile</h4>
            <h6 class="card-subtitle mb-2 text-muted">The Ragnarockers</h6>
            <audio controls>
                <source src="~/assets/audio/CalliopeSmile.wav" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="card-footer text-muted">
            last spring
        </div>
    </div>


</div>