@page
@{
    ViewData["Title"] = "SongList";
}

    <div>
        <table class="table table-hover table-dark">
            <thead></thead>
            <tr>
                <th scope="col">Song</th>
                <th scope="col">Artist</th>
                <th scope="col">Page</th>
            </tr>
            <tr>
                <th scope="row">What We Have is You</th>
                <th scope="col">Kipo</th>
                <th scope="col"><a class="btn btn-success" href="/songs/whatWeHaveIsYou">Audio</a></th>
            </tr>
            <tr>
                <th scope="row">Red Roses</th>
                <th scope="col">Phil West</th>
                <th scope="col"><a class="btn btn-success" href="/songs/redRoses">Audio</a></th>
            <tr>
                <th scope="row">Favorite Mistake</th>
                <th scope="col">Trevor Pietsch</th>
                <th scope="col"><a class="btn btn-info" href="/songs/favoriteMistake">Video</a></th>
            </tr>
   
        </table>
    </div>
