@page
@{
    ViewData["Title"] = "Tequila Mockingbird";
}



<div class="container-lg">


    <div class="card mb-3 bg-dark">
        <h3 class="card-header text-info">@ViewData["Title"]</h3>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/303329025&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/tequila-mockingbird-493627693" title="Tequila Mockingbird" target="_blank" style="color: #cccccc; text-decoration: none;">Tequila Mockingbird</a> · <a href="https://soundcloud.com/tequila-mockingbird-493627693/modern-blues-lambeth-live-1617" title="Modern Blues - Lambeth Live - 1/6/17" target="_blank" style="color: #cccccc; text-decoration: none;">Modern Blues - Lambeth Live - 1/6/17</a></div>
        <img class="card-img" src="~/assets/images/tequilaMockingbirdBandPhoto.png" />

    </div>


